body {
  background-color: #f9fafc;
  font-family: 'Roboto', sans-serif;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin {
    font-weight: normal;
}
.form-signin .form-control {
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.logged-in {
  display: none;
}

i.icon {
  &.green {
    color: #02cb7b !important;
  }
  &.red {
    color: #ed5565 !important;
  }
}
.main.container {
    margin-top: 6em;
}
.ui.small.image{
    width: 130px;
}
.brand-green {
 color: #02cb7b !important;
}
.thin {
 font-weight: 300 !important;
}

.report-area {
    width: 900px !important;
    margin: 0 auto !important;
}

.ui.circular.segment {
  width: 185px !important;
  height: 185px !important;
}

.header{
  font-family: 'Roboto', sans-serif !important;  
}

h2.ui.header:first-child{
  margin-top: 40px;
}