<div class="ui segment very padded report-area">
  <div class="report">
    <div class="report__title row">
      <div class="ui equal width grid">
        <div class="sixteen wide column">
            <h1 class="ui header">
              {{report.name}} for {{report.campaign}}
              <div class="ui divider"></div>
            </h1>
        </div>
        <div class="column twelve wide">
            <h2 class="ui header">
             Flight Dates<br/>
             2016-09-05 - 2016-09-30
            </h2>
        </div>
        <div class="column four wide">
            <div class="ui statistic">
              <div class="value">
                25 <i class="checked calendar icon"></i>
              </div>
              <div class="label">
                Days Live
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="report__body">
      <div class="ui equal width grid">
        <div class="row center aligned">
            <div class="column four wide">
                <div class="ui segment circular">
                    <div class="ui statistic small">
                      <div class="value">
                        2.3MM
                      </div>
                      <div class="label">
                        Impressions
                      </div>
                    </div>
                </div>
                <div class="ui pointing label">
                    <div class="ui statistic tiny">
                      <div class="value">
                        88,743
                      </div>
                      <br/>
                      <div class="label">
                        Avg. Impressions per day
                      </div>
                    </div>
                </div>
            </div>
            <div class="column two wide middle aligned">
                <i class="angle right icon huge brand-green"></i>
                <br/><br/><br/><br/><br/>
            </div>
            <div class="column four wide">
                <div class="ui segment circular">
                    <div class="ui statistic small">
                      <div class="value">
                        1,023
                      </div>
                      <div class="label">
                        Clicks
                      </div>
                    </div>
                </div>
                <div class="ui pointing label">
                    <div class="ui statistic tiny">
                      <div class="value">
                        39
                      </div>
                      <br/>
                      <div class="label">
                        Avg. Clicks per day
                      </div>
                    </div>
                </div>
            </div>
            <div class="column two wide middle aligned">
                <i class="angle right icon huge brand-green"></i>
                <br/><br/><br/><br/><br/>
            </div>
            <div class="column four wide">
                <div class="ui segment circular">
                    <div class="ui statistic small">
                      <div class="value">
                        0.04%
                      </div>
                      <div class="label">
                        CTR
                      </div>
                    </div>
                </div>
                <div class="ui pointing label">
                    <div class="ui statistic tiny">
                      <div class="value">
                        0.04%
                      </div>
                      <br/>
                      <div class="label">
                        Avg. CTR per day
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <h2 class="ui header">
            Delivery by Line Item
            <div class="ui divider"></div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="column sixteen wide" style="position: relative; height: 50">
          <canvas id="lineItemPerformanceChart" width="842" height="300"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="column sixteen wide" id="lineItemPerformanceTable">
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <h2 class="ui header">
            Performance by Date
            <div class="ui divider"></div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="ui grid">
          <div class="column six wide">
            <i>Days with the highest</i><br/>
            <div class="ui">
              <h3 class="ui header">
              Impressions
              <div class="ui divider"></div>
              </h3>
            </div>
            <div class="ui grid">
              <div class="left floated left aligned ten wide column">
                SATURDAY 9/24/2016
              </div>
              <div class="right floated right aligned six wide column">
                281,898
              </div>    
            </div>
            <br/><br/>
            <div class="ui">
              <h3 class="ui header">
              Clicks
              <div class="ui divider"></div>
              </h3>
            </div>
            <div class="ui grid">
              <div class="left floated left aligned ten wide column">
                SATURDAY 9/24/2016
              </div>
              <div class="right floated right aligned six wide column">
                144
              </div>    
            </div>
            <br/><br/>
            <div class="ui">
              <h3 class="ui header">
              CTR
              <div class="ui divider"></div>
              </h3>
            </div>
            <div class="ui grid">
              <div class="left floated left aligned ten wide column">
                THURSDAY 9/29/2016
              </div>
              <div class="right floated right aligned six wide column">
                0.09%
              </div>    
            </div>
          </div>
          <div class="column ten wide" style="position: relative; height: 50">
            <canvas id="lineItemByDateChart" width="525" height="330"></canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <h2 class="ui header">
            Performance by Day
            <div class="ui divider"></div>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="ui grid">
          <div class="column six wide">
            <div class="ui">
              <h3 class="ui header">
              Impressions
              <div class="ui divider"></div>
              </h3>
            </div>
            <div class="ui grid">
              <div class="left floated left aligned column">
                WEDNESDAY (453,283)<br/>
                on average saw the greatest impression delivery
              </div>    
            </div>
            <br/><br/>
            <div class="ui">
              <h3 class="ui header">
              CTR
              <div class="ui divider"></div>
              </h3>
            </div>
            <div class="ui grid">
              <div class="left floated left aligned column">
                SATURDAY (0.058%)<br/>
                on average saw the greatest click-through rate
              </div>    
            </div>
          </div>
          <div class="column ten wide" style="position: relative; height: 50">
            <canvas id="lineItemByDayChart" width="525" height="330"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
