{{#if reports}}
  {{#each reports}}
    <div class="ui segment container very padded center aligned clearing">
    <h1 class="ui brand-green thin header">Configure your {{name}}</h1>
    <h3 class="ui header thin">{{description}} Select your report options below.</h3>

      <select class="ui dropdown" id="select-connection">
        <option value="">Connection</option>
      </select>

      <i class="chevron right icon"></i>

      <select id="select-campaign" class="ui dropdown search selection">
        <option value="">Campaign</option>
      </select>

      <div class="ui section divider"></div>
      <a class="ui left floated button" id="backButton" href="#/reports">
        <i class="chevron left icon"></i>
        Back
      </a>
      <button class="ui right floated green button disabled" id="run-report">
        Run Report
      </button>
    </div>
  {{/each}}
{{/if}}