
  <div class="ui clearing segment">
    <h3 class="ui right floated header">
      <div class="ui primary button" {{action "start"}}>
        <i class="icon add"></i>
        New Connection
      </div>
    </h3>
    <h2 class="ui left floated header">
      Ad Server Connections
      <div class="sub header">
        Manage ad server connections
      </div>
    </h2>
  </div>
  <div class="ui segment">
    <div class="ui vertically divided stackable middle aligned grid">
      <div class="row">
        <div class="column">
          <div class="ui labeled icon input fluid">
            {{#ui-dropdown selected="All" class="basic label"}}
              <div class="default text">Filter</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item">All</div>
                <div class="item">Active</div>
                <div class="item">Inactive</div>
              </div>
            {{/ui-dropdown}}
            {{one-way-input searchQuery update=(action (mut searchQuery)) placeholder="Search..."}}
            <i class="search icon"></i>
          </div>
        </div>
      </div>
      {{#each model as |connection|}}
        <div class="row">
          <div class="ten wide column">
            <div class="ui header">
              <img class="ui avatar image" src="{{connection.providerIcon}}">
              <div class="content">
                {{#link-to "connections.connection" connection}}
                  {{connection.name}}
                {{/link-to}}
                <div class="sub header">
                  Added {{moment-calendar connection.createdAt}}
                  by {{connection.createdBy.fullName}}
                </div>
              </div>
            </div>
          </div>
          <div class="two wide column">
            {{connection.type}}
          </div>
          <div class="two wide column">
            <i class="{{if (eq connection.status "Connected") "green check circle" "red remove circle"}} big icon"></i>
          </div>
          <div class="two wide right aligned column">
            {{#link-to "connections.connection" connection class="ui small basic primary button"}}
              <i class="icon pencil"></i>
              Edit
            {{/link-to}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>