{{#if connections}}
<div class="ui segment container very padded left aligned clearing">
  <a class="ui icon green right floated button" href="#/connections/new"><i class="plus icon"></i> New Connection</a>
  <h1 class="ui thin header">Ad Server Connections</h1>
  <table class="ui four column table">
    <thead>
      <tr><th>Ad Server</th><th>Name</th><th>Status</th><th>Options</th></tr>
    </thead>
    <tbody>

  {{#each connections}}
      <tr><td><img src="{{image}}" height="75" /></td><td>{{name}}</td><td>{{status}}</td><td><a href="#/connections/{{connectionId}}"class="ui icon button">
      <i class="edit icon"></i> Edit</a></td>
      </tr>
  {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<div class="ui segment container very padded center aligned clearing" id="first-connection-info">
  <h1 class="ui brand-green thin header">It doesn't look like you have any connections set up.</h1>
  <h3 class="ui header thin">Connections to Ad Servers and other 3rd parties allow you to retrieve data and run great looking reports. Lets setup your first connection.</h3>
  <div class="ui section divider"></div>
    <a class="ui right floated primary button" href="#/connections/new"> Start
    	<i class="chevron right icon"></i>
    </a>
</div>
{{/if}}