<div class="ui fixed menu borderless">
  <div class="ui container">
    <div class="item header">
      <img class="ui small image" src="/images/logo.png">
    </div>
    <a href="#/connections" class="item" id="connections">Connections</a>
    <a href="#/report-history" class="item" id="reports">Reports</a>
    <div class="ui right floated item">
        <img src="{{ picture }}" class="ui avatar image"> 
        <div class="ui dropdown"> 
          {{ user_metadata.given_name }} {{ user_metadata.family_name }} 
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" id="btn-logout"><i class="sign out icon"></i>Logout</div>
          </div>
        </div>
    </div>
  </div>
</div>
