<div class="ui segment container very padded center aligned clearing">
  <h1 class="ui brand-green thin header">Choose your Connection</h1>
  <h3 class="ui header thin">Select the data provider that you would like to connect. You will need to log into your account to allow your data to be retrieved automatically.</h3>
  <!-- Cards -->
  <div class="ui centered cards">
    <div class="ui card">
      <div class="image">
        <img src="/images/DFP-Logo1.jpg">
      </div>
      <div class="content">
        <div class="header">
          <div class="ui labeled icon green button" id="authDFPButton">
            <i class="google icon"></i> 
            Sign in with Google
          </div>
        </div>
      </div>
    </div>
    <div class="ui card">
      <div class="image">
        <img src="/images/GA-Logo1.png">
      </div>
      <div class="content">
        <div class="header">
          <div class="ui labeled icon orange button" id="authGAButton">
            <i class="google icon"></i> 
            Sign in with Google
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui section divider"></div>
  <a class="ui left floated button" id="backButton" href="#/connections">
    <i class="chevron left icon"></i>
    Back
  </a>
  <a class="ui right floated primary button disabled" id="nextButton" href="#/connections">
    Next
    <i class="chevron right icon"></i>
  </a>
</div>