{{#if reports}}
<div class="ui segment very padded center aligned">
  <h1 class="ui brand-green thin header">Select a report to run.</h1>
  <h3 class="ui header thin">Our Reports allow you to see your data visualized based on your reporting needs.</h3>
  <div class="ui section divider"></div>
  <div class="ui cards">
  {{#each reports}}
    <div class="card">
      <div class="ui fluid image">
        {{#if customRibbon}}
          <div class="ui purple ribbon label">
            <i class="{{customRibbon.icon}} icon"></i>{{customRibbon.text}}
          </div>
        {{/if}}
        <img src="{{image}}">
      </div>
      <div class="content left aligned">
        <div class="header">
          {{name}}
        </div>
        <div class="meta">
          Created: {{created}}
        </div>
        <div class="description">
          {{description}}
        </div>
      </div>
      <div class="extra content">
        <div class="ui fluid buttons">  
          <a href="#/reports/{{reportId}}/configure" class="ui icon blue button">
            Select
          </a>
        </div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
{{else}}
<div class="ui segment container very padded center aligned clearing" id="first-connection-info">
  <h1 class="ui brand-green thin header">We weren't able to find any reports for your account.</h1>
  <h3 class="ui header thin">This is probably an error on our side. Please contact support@liteturn.com and we'll get this fixed ASAP.</h3>

</div>
{{/if}}
