{{#if reportInstances}}
<div class="ui segment container very padded left aligned clearing">
  <a class="ui icon green right floated button" href="#/reports"><i class="plus icon"></i> New Report</a>
  <h1 class="ui thin header">Report History</h1>
  <table class="ui table" id="report-history-table">
    <thead>
      <tr><th>Report</th><th>Campaign</th><th>Created</th><th>Created By</th><th>Status</th><th>Report Options</th></tr>
    </thead>
    <tbody>

  {{#each reportInstances}}
      <tr><td>{{reportName}}</td><td>{{orderName}}</td><td>{{date}}</td><td>{{createdByName}}</td><td>{{status}}</td><td>
      <div class="ui buttons">
        <a class="ui icon primary basic button" href="#/reports/{{reportId}}/view/{{reportInstanceId}}">
          View <i class="external square icon"></i>
        </a>
        <a class="ui icon red basic button" href="#">
         Delete <i class="remove circle icon"></i></a>
      </div>
        </td>
      </tr>
  {{/each}}
    </tbody>
  </tables
</div>
{{else}}
<div class="ui segment container very padded center aligned clearing" id="first-connection-info">
  <h1 class="ui brand-green thin header">You haven't run any reports yet. Let's get started!</h1>
  <h3 class="ui header thin">Reports allow you to analyze data from your ad servers. Each report gives different view into the data. Click "Start" to select and run a report.</h3>
  <div class="ui section divider"></div>
    <a class="ui right floated primary button" href="#/reports"> Start
      <i class="chevron right icon"></i>
    </a>
</div>
{{/if}}