{{#if connections}}
<div class="ui segment container very padded left aligned clearing">

  {{#each connections}}
  <div class="ui items">
      <div class="item">
        <div class="image">
          <img src="{{image}}">
        </div>
        <div class="content">
          <h1 class="ui brand-green thin header">Edit Connection</h1>
          <br/><br>
          <form class="ui form" id="edit-connection">
            <div class="field">
              <label>Connection Name</label>
              <input type="text" name="connection-name" id="connection-name" value="{{name}}">
            </div><br/>
            <div class="field">
              <label>Network</label>
              <select class="ui fluid dropdown" name="network-name" id="network-name">
                <option value="{{networkCode}}" data-displayname="{{networkName}}" selected="selected">{{networkName}} - {{networkCode}}</option>
              </select>
            </div><br/>
            <input type="hidden" name="network-code" id="network-code" value="">
            <div class="field disabled">
              <label>Connection ID</label>
              <input type="text" name="connection-id" value="{{connectionId}}">
            </div>
          </form>
        </div>
      </div>

  </div>
  {{/each}}
  <div class="ui section divider"></div>
  <a class="ui left floated button" id="backButton" href="#/connections">
    <i class="chevron left icon"></i>
    Back
  </a>
  <button class="ui right floated primary button" type="submit" id="save-connection">
  <i class="save icon"></i>
    Save
  </button>
</div>
{{/if}}